<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doublehh.system.dao.TSUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.doublehh.system.model.TSUserRole">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
        <result column="user_type" property="userType"/>
    </resultMap>
    <resultMap id="RoleResultMap" type="cn.doublehh.system.model.TSRole">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="roid" property="roid" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="VARCHAR"/>
        <result column="create_date" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Role_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, roid, name, enabled, create_time, update_time, create_by, update_by, remark
    </sql>
    <insert id="addUsersToRole">
        INSERT INTO t_s_user_role(id,user_id,role_id) VALUES
        <foreach collection="userIds" item="userIds" index="index" separator=",">
            (UUID(),#{userIds},#{roleId})
        </foreach>
    </insert>
    <delete id="deleteUsersFromRole">
        DELETE FROM t_s_user_role WHERE role_id=#{roleId} AND user_id IN
        <foreach collection="userIds" item="userIds" index="index" open="(" close=")" separator=",">#{userIds}</foreach>
    </delete>
    <select id="getRolesByUid" resultMap="RoleResultMap">
        SELECT
        <include refid="Role_Column_List"/>
        FROM t_s_role WHERE id IN (SELECT role_id FROM t_s_user_role WHERE user_id=(SELECT id FROM t_s_user WHERE uid=#{uid}))
    </select>
    <insert id="addRolesToUser">
        INSERT INTO t_s_user_role(id,user_id,role_id) VALUES
        <foreach collection="roleIds" item="roleIds" index="index" separator=",">
            (UUID(),#{userId},#{roleIds})
        </foreach>
    </insert>
    <delete id="deleteRolesFromUser">
        DELETE FROM t_s_user_role WHERE user_id=#{userId} AND role_id IN
        <foreach collection="roleIds" item="roleIds" index="index" open="(" close=")" separator=",">#{roleIds}</foreach>
    </delete>
</mapper>
