<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.doublehh.sport.dao.GradeViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.doublehh.sport.model.GradeView">
        <result column="id" property="id"/>
        <result column="job_number" property="jobNumber"/>
        <result column="device_number" property="deviceNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="grade" property="grade"/>
        <result column="item_name" property="itemName"/>
        <result column="name" property="name"/>
        <result column="item_number" property="itemNumber"/>
        <result column="type" property="type"/>
        <result column="semester" property="semester"/>
        <result column="weight" property="weight"/>
    </resultMap>
    <resultMap id="AttendanceResultMap" type="cn.doublehh.sport.vo.AttendanceVo">
        <result column="item_number" property="itemNumber"/>
        <result column="type" property="type"/>
        <result column="grade" property="grade"/>
        <result column="item_name" property="itemName"/>
        <result column="semester" property="semester"/>
    </resultMap>
    <select id="getAttendanceVo" parameterType="java.lang.String" resultMap="AttendanceResultMap">
        SELECT
            item_name,
            COUNT( item_name ) grade,
            type,
            item_number,
            semester
        FROM
            grade_view
        WHERE
            job_number = #{jobNumber}
            AND type = #{type}
        GROUP BY
            type,
            item_number,
            semester
    </select>

</mapper>
